* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__wrapper-ul {
    display: flex;
    gap: 40px;
    align-items: center;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #36536B;
    mix-blend-mode: normal;
    opacity: 0.7;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav__wrapper-btn1 {
    background-color: #BA4270;
    width: 173px;
    height: 48px;
    border-radius: 50px;
    border: none;
    color: #FBFCFE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__wrapper-btn1:hover {
    background: none;
    border: 2px dashed #BA4270;
    color: #BA4270;
}

.nav {
    padding: 16px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 10px 10px #f3f3f3;
}

.container__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__wrapper-text {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -0.553846px;
    width: 546px;
    height: 243px;
    color: #36536B;


}

.container__wrapper__right-img {
    width: 263px;
    height: 500px;
}

.section__wrapper-title {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369231px;
    color: #FBFCFE;
}

.section__wrapper-subtitle {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FBFCFE;
    mix-blend-mode: normal;
    opacity: 0.7;
    padding-top: 24px;
    width: 445px;
}

.section {
    padding-top: 100px;
    width: 100%;
    height: 472px;
    background-color: #1B262F;
}

.section__wrapper-btn2 {
    background: transparent;
    width: 129px;
    height: 48px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.115385px;
    color: #FBFCFE;
    box-sizing: border-box;
    border: 1px solid #FBFCFE;
    border-radius: 24px;
    margin-top: 32px;
}


.section__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__wrapper-right__top {
    display: flex;
    gap: 62px;
}

.section__wrapper-right__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 43px;
}

.section__wrapper-right__top-img {
    width: 145px;
    height: 31px;
}

.section__wrapper-right__bottom-img1 {
    width: 131px;
    height: 17px;
}


.section__wrapper-img {
    width: 445px;
    height: 284px;
}

.section__wrapper-right-text {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369231px;
    color: #36536B;
}

.section__wrapper-right-text2 {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #6C8294;
    width: 445px;
    margin-top: 24px;
}

.menu {
    display: none;
}

.main__wrapper-title {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.138462px;
    color: #36536B;
} 
 
.main__wrapper-subtitle {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.115385px;
    color: #6C8294;
    width: 350px;
} 
 
.main__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
 
.main__wrapper-group {
    display: flex;
    flex-direction: column;
    align-items: center;
 
} 
 
.main__wrapper-group-img {
    width: 106px;
    height: 106px;
} 
 
footer {
    width: 100%;
    height: 100px;
    background-color: #1B262F;
    display: flex;
    align-items: center;
} 
 
.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
 
.footer__wrapper-ul {
    display: flex;
    align-items: center;
    gap: 10px;
 
} 
 
.footer__wrapper-li {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #FBFCFE;
    mix-blend-mode: normal;
    opacity: 0.7;
    color: #FBFCFE;
} 
 
@media screen and (max-width: 600px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    .nav__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__wrapper-ul {
        display: flex;
        gap: 40px;
        align-items: center;
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: #36536B;
        mix-blend-mode: normal;
        opacity: 0.7;
        display: none;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    .nav__wrapper-btn1 {
        background-color: #BA4270;
        width: 173px;
        height: 48px;
        border-radius: 50px;
        border: none;
        color: #FBFCFE;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav__wrapper-btn1:hover {
        background: none;
        border: 2px dashed #BA4270;
        color: #BA4270;
    }

    .nav {
        padding: 16px;
        position: sticky;
        width: 100%;
        top: 0;
        background-color: white;
        box-shadow: 0 10px 10px #f3f3f3;
    }

    .container__wrapper {
        flex-direction: column;
    }

    .menu {
        display: inline-block;
    }

    .container__wrapper-text {
        font-family: 'DM Serif Display';
        font-style: normal;
        font-weight: 400;
        font-size: 72px;
        line-height: 72px;
        letter-spacing: -0.553846px;
        width: 546px;
        height: 243px;
        color: #36536B;


    }

    .container__wrapper__right-img {
        width: 263px;
        height: 500px;
    }

    .section__wrapper-title {
        font-family: 'DM Serif Display';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.369231px;
        color: #FBFCFE;
    }

    .section__wrapper-subtitle {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        color: #FBFCFE;
        mix-blend-mode: normal;
        opacity: 0.7;
        padding-top: 24px;
        width: 445px;
    }

    .section {
        padding-top: 100px;
        width: 100%;
        height: 472px;
        background-color: #1B262F;
    }

    .section__wrapper-btn2 {
        background: transparent;
        width: 129px;
        height: 48px;
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        letter-spacing: -0.115385px;
        color: #FBFCFE;
        box-sizing: border-box;
        border: 1px solid #FBFCFE;
        border-radius: 24px;
        margin-top: 32px;
    }


    .section__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .section__wrapper-right__top {
        display: flex;
        gap: 62px;
    }

    .section__wrapper-right__bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 43px;
    }

    .section__wrapper-right__top-img {
        width: 145px;
        height: 31px;
    }

    .section__wrapper-right__bottom-img1 {
        width: 131px;
        height: 17px;
    }

    .section__wrapper-img {
        width: 445px;
        height: 284px;
    }

    .section__wrapper-right-text {
        font-family: 'DM Serif Display';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.369231px;
        color: #36536B;
    }

    .section__wrapper-right-text2 {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;
        color: #6C8294;
        width: 445px;
        margin-top: 24px;
    }


}

/* Media query for screens with a width between 601 and 768 pixels */
@media screen and (min-width: 601px) and (max-width: 768px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    .nav__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__wrapper-ul {
        display: flex;
        gap: 40px;
        align-items: center;
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: #36536B;
        mix-blend-mode: normal;
        opacity: 0.7;


    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    .nav__wrapper-btn1 {
        background-color: #BA4270;
        width: 173px;
        height: 48px;
        border-radius: 50px;
        border: none;
        color: #FBFCFE;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav__wrapper-btn1:hover {
        background: none;
        border: 2px dashed #BA4270;
        color: #BA4270;
    }

    .nav {
        padding: 16px;
        position: sticky;
        width: 100%;
        top: 0;
        background-color: white;
        box-shadow: 0 10px 10px #f3f3f3;
    }

    .container__wrapper {
        flex-direction: column;
    }

    .container__wrapper-text {
        font-family: 'DM Serif Display';
        font-style: normal;
        font-weight: 400;
        font-size: 72px;
        line-height: 72px;
        letter-spacing: -0.553846px;
        width: 546px;
        height: 243px;
        color: #36536B;


    }

    .container__wrapper__right-img {
        width: 263px;
        height: 500px;
    }

    .section__wrapper-title {
        font-family: 'DM Serif Display';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.369231px;
        color: #FBFCFE;
    }

    .section__wrapper-subtitle {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        color: #FBFCFE;
        mix-blend-mode: normal;
        opacity: 0.7;
        padding-top: 24px;
        width: 445px;
    }

    .section {
        padding-top: 100px;
        width: 100%;
        height: 472px;
        background-color: #1B262F;
    }

    .section__wrapper-btn2 {
        background: transparent;
        width: 129px;
        height: 48px;
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        letter-spacing: -0.115385px;
        color: #FBFCFE;
        box-sizing: border-box;
        border: 1px solid #FBFCFE;
        border-radius: 24px;
        margin-top: 32px;
    }


    .section__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .section__wrapper-right__top {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .section__wrapper-right__bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 43px;
    }

    .section__wrapper-right__top-img {
        width: 145px;
        height: 31px;
    }

    .section__wrapper-right__bottom-img1 {
        width: 131px;
        height: 17px;
    }

    .section__wrapper-img {
        width: 445px;
        height: 284px;
    }

    .section__wrapper-right-text {
        font-family: 'DM Serif Display';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.369231px;
        color: #36536B;
    }

    .section__wrapper-right-text2 {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;
        color: #6C8294;
        width: 445px;
        margin-top: 24px;
    }



}

/* Media query for screens with a width between 769 and 1024 pixels */
@media screen and (min-width: 769px) and (max-width: 1024px) {}

/* Media query for screens with a width between 1025 and 1200 pixels */
@media screen and (min-width: 1025px) and (max-width: 1200px) {}

/* Media query for screens with a minimum width of 1201 pixels */
@media screen and (min-width: 1201px) {}